.svg{
    width:40px;
    height:40px;
    padding:7px;
    margin :3px;
    border-radius:5px;
}


#leftbar_list {
    position:fixed;
    height:100%;
    list-style:none;
    border-radius:5px;
    padding:10px;
    margin:0px;
    background-color: rgb(219, 215, 210);
    box-shadow: 1px 2px 7px rgb(23, 23, 24);
}

#leftbar_container{
    position:absolute;
    z-index:11;

height:100%;

}

.svg:hover{
    background-color:rgb(158, 155, 153);
    transition:0.2s;
    border-radius:5px;
}

